/* _______________________________________________mobile */
#first_section {
  background-image: url(baggrunde/forside_web.svg);
  background-size: cover;
  background-position: 90% 100%;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.col_2 {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
}

.top {
  grid-column: 7/9;
  grid-row: 4;
}

.bottom {
  grid-column: 8;
  grid-row: 5;
}

/* ___________________________________________________web */
/* @media (min-width: 700px) {
  #first_section {
    background-image: url(baggrunde/forside_web.svg);
    background-size: cover;
    aspect-ratio: 16/9;
  }
} */
