/* __________________________________________________FIRST SECTION____________________________________________ */
#first_section {
  background-image: url(baggrunde/om_mig.svg);
  background-size: cover;
  background-position: 15% 100%;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);

  text-align: center;
}

main {
  margin: 50px;
}

body {
  background-color: #faf8ed;
}

p {
  line-height: 40px;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}

h4 {
  font-size: clamp(0.5rem, 3vw, 2rem);
}

h5 {
  padding-top: 10px;
}

hr {
  margin-bottom: 50px;
  color: black;
  border: 0;
  border-top: 2px solid black;
}

/* __________________________________________________first section i mobil */

#first_section img {
  grid-column: 2/12;
  grid-row: 3/16;
}

.top {
  grid-row: 1;
  grid-column: 1/13;
}

.bottom {
  grid-row: 2;
  grid-column: 1/13;
}
/* animation */
.bottom {
  animation-name: bottom_kf;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes bottom_kf {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* __________________________________________________first section i web */
@media (min-width: 900px) {
  #first_section img {
    grid-column: 2/6;
    grid-row: 2/9;
  }

  #first_section {
    background-position: 70% 100%;
  }

  .top {
    grid-column: 5/13;
    grid-row: 4;
  }

  .bottom {
    grid-row: 6;
    grid-column: 4/13;
  }
}

/* ______________________________________________________SECOND SECTION___________________________________________________ */
#second_section {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

/* ______________________________________________second section i mobil */
#second_section h3 {
  padding-bottom: 20px;
  display: grid;
  text-align: center;
}

.om_mig {
  grid-column: 1/13;
  grid-row: 1/8;
}

.cv {
  grid-column: 1/13;
  grid-row: 6/11;
  padding-top: 30px;
}

.cv h3 {
  padding-top: 20px;
  place-items: center;
}

/* ________________________________________________________web */
@media (min-width: 900px) {
  #second_section {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 75px;
  }

  .om_mig {
    grid-column: 1/3;
    grid-row: 1/10;
    padding-right: 30px;
  }

  .cv {
    grid-column: 3/5;
    grid-row: 1/10;
    padding-top: 0px;
    padding-left: 50px;
  }

  .cv h3 {
    padding-top: 0px;
  }

  .vl {
    border: 0;
    border-left: 1px solid black;
    height: 42rem;
    position: absolute;
    left: 50%;
    top: 60rem;
    z-index: 1;
  }
}
