#first_section {
  background-image: url(baggrunde/projekter.svg);
  background-size: cover;
  background-position: 50% 100%;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.section_wrapper {
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.col_2 a:hover {
  color: #b42626;
}
.col_3 a:hover {
  color: #c37307;
}
.col_4 a:hover {
  color: #4063d3;
}
.col_6 a:hover {
  color: #b73056;
}

/* animationer til cols */
main .col_2,
main .col_3,
main .col_4,
main .col_5,
main .col_6 {
  animation-name: col_kf;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes col_kf {
  0% {
    letter-spacing: -1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* _______________________________________kasserne i mobil-version */

.col_2 {
  grid-column: 6/9;
  grid-row: 3;
}

.col_3 {
  grid-column: 6/9;
  grid-row: 6;
}

.col_4 {
  grid-column: 6/9;
  grid-row: 9;
}

.col_5 {
  grid-column: 6/9;
  grid-row: 12;
}

.col_6 {
  grid-column: 6/9;
  grid-row: 15;
}

#first_section a {
  font-size: 2rem;
}
