/* _______________________________________________________________generelt for siderne */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Baumans", cursive;
}

/* ___________________________________________________________________header i web-version */
header nav ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4rem;
  gap: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  gap: 20px;
  background-color: #faf8ed;
  flex-wrap: wrap;
}

.toggle-btn {
  display: none;
}

.logo img {
  height: 3.4rem;
  padding-top: 10px;
}

a,
li {
  list-style: none;
  color: black;
  font-family: "Baumans", cursive;
  font-size: 1.3rem;
  text-align: center;
}

li {
  padding-top: 20px;
}

a:hover {
  color: #395098;
}

/* ________________________________________________________________header i mobil-version/burger menu */
@media (max-width: 750px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 2rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
  header nav ul {
    gap: 10px;
  }

  a,
  li {
    font-size: 1.3rem;
  }
}

/* _____________________________________________________________________footer i mobil-version */
footer a,
footer p {
  color: black;
  font-family: "Baumans", cursive;
  font-size: 0.7rem;
}

footer {
  display: grid;
  place-content: center;
  line-height: 2rem;
  background-color: #faf8ed;
}

.footer {
  gap: 200px;
}

/* _____________________________________________________________________footer i web-version */
@media (min-width: 800px) {
  footer a,
  footer p {
    font-size: 0.8rem;
    line-height: 4rem;
  }

  footer {
    display: flex;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
