* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: cover;
}

/* ___________________________________________________________________header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

body {
  background-color: #f1eddb;
}

a,
li {
  color: #363435;
  font-family: "Baumans", cursive;
  font-size: 1rem;
}

.logo img {
  display: inline;
  width: 3vw;
  height: auto;
}

.logo {
  text-align: center;
}

header,
footer {
  border: 1px solid black;
}

/* _____________________________________________________________________footer */
footer a,
p {
  color: #363435;
  font-family: "Baumans", cursive;
  font-size: 0.7rem;
}

footer {
  display: grid;
  place-content: center;
  line-height: 1.5rem;
  padding: 10px;
}

/* _____________________________________________________________________footer i mobil */
@media (min-width: 800px) {
  footer a,
  p {
    font-size: 0.8rem;
    line-height: 4rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
