/* _____________________________FIRST SECTION_______________________________ */
/* ________________________________________________________mobile */
#first_section {
  background-image: url(baggrunde/tema_forside.svg);
  background-size: cover;
  background-position: 80% 100%;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

h3 {
  font-size: clamp(0.5rem, 6vw, 3.5rem);

  padding-top: 30px;

  text-align: center;

  grid-column: 2/8;
  grid-row: 1;
}

.foto {
  grid-column: 2/8;
  grid-row: 2/4;
}

.col_1 {
  grid-row: 4;
  grid-column: 2/9;
}

.col_2 {
  grid-row: 8;
  grid-column: 2/9;
}
/* _______________________________SECOND SECTION___________________________ */
#second_section {
  background-image: url(baggrunde/tema_forside.svg);
  background-size: cover;
  background-position: 80% 100%;
  margin: 0 auto;
  width: 100%;
  height: 100vh;

  /* display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(12, 1fr); */
}
